# Environment dependencies
pettingzoo[mpe]
mpe2
pygame
openai

# Visualization and analysis dependencies
matplotlib
networkx
imageio

# Configuration dependencies
pyyaml

# Database adapters (optional)
pymongo

# Testing dependencies
mongomock

# Test
